
#editor{
    background-color: rgb(18, 22, 40);
    width:240px;
    height:400px;
    color: white;
    padding: 10px 7px;
    font-family: 'Open Sans',sans-serif;
}


#color{
    margin-left:10px;
    border:none;
}